<header>
        <h1>Binit Pokharel's Bold Panther | ITIS3135</h1>
        <nav aria-label="Primary navigation">
            <a href="./">Home</a> |
            <a href="contract.html">Contract</a> |
            <a href="survey.html">Survey</a> |
            <a href="cards.html">Playing Cards</a> |
            <a href="inventory.html">Inventory</a> |
            <a href="documentation.html">Instructions</a> |
            <a href="product.html">Product Landing</a> |
            <a href="introduction.html">Introduction</a> |
            <a href="about.html">About</a>
        </nav>
        <nav aria-label="Secondary navigation">
            <a href="stuff/BiNiT's%20CRAPpy%20Page-$.HTM">CRAPpy Page</a>
        </nav>
    </header>
